[2017-11-05 07:47] andy5995 opened #1 "Accent.c: build fails"
Build fails at Accent.c:
[code]

Debian's patch for 3.2.0b6-16 may help fix this.

https://packages.debian.org/stable/web/htdig

htdig_3.2.0b6-16.debian.tar.xz

[2017-11-05 07:53] andy5995 commented on #1
I reverted to a later commit. This issue may no longer be valid

[2017-11-05 07:54] andy5995 opened #2 "configure doesn't run"
[code]

[2017-11-05 09:21] andy5995 opened #3 "src/common needs a Makefile"
src/common needs a Makefile

[2017-11-07 00:18] andy5995 opened #4 "htnotify.cc:332:66: warning: ISO C++ forbids converting a string constant to ‘char*’"
Anyone interested in doing a PR to fix this?

https://github.com/andy5995/htdig/blob/daeaf867f43c4988559bcc6d737eaa357899738b/httools/htnotify.cc

[code]

Feel free to join the [chat room](https://join.slack.com/t/htdig/shared_invite/enQtMjY3NDU1MjMwODk3LTdmM2I2OWI5NWI4MzU4Y2JmMjk2MzAxNDYzM2IzZjJmMGE2MDZmMWMxNDY3MjAwOGFjMmE1YjM2MmM4MzVkNzk).

[2017-11-07 00:38] andy5995 commented on #3
obsolete as of df02c94a6ad4c56ade8663b709f0b035ebda721d

[2017-11-07 00:38] #3 closed

[2017-11-07 00:38] andy5995 commented on #2
obsolete as of df02c94a6ad4c56ade8663b709f0b035ebda721d

[2017-11-07 00:38] #2 closed

[2017-11-07 00:38] andy5995 commented on #1
fixed by obsolete as of df02c94a6ad4c56ade8663b709f0b035ebda721d

[2017-11-07 00:38] #1 closed

[2017-11-07 00:45] andy5995 opened #5 "htpurge.cc:193:39: warning: ISO C++ forbids converting a string constant to ‘char*’ [-Wwrite-strings]"
Anyone interested in doing a PR to fix this?

[code]

Feel free to join the [chat room](https://join.slack.com/t/htdig/shared_invite/enQtMjY3NDU1MjMwODk3LTdmM2I2OWI5NWI4MzU4Y2JmMjk2MzAxNDYzM2IzZjJmMGE2MDZmMWMxNDY3MjAwOGFjMmE1YjM2MmM4MzVkNzk).

[2017-11-07 00:46] andy5995 opened #6 "qtest.cc:72:18: warning: variable ‘override_config’ set but not used"
Anyone interested in doing a PR to fix this?

[code]

Feel free to join the [chat room](https://join.slack.com/t/htdig/shared_invite/enQtMjY3NDU1MjMwODk3LTdmM2I2OWI5NWI4MzU4Y2JmMjk2MzAxNDYzM2IzZjJmMGE2MDZmMWMxNDY3MjAwOGFjMmE1YjM2MmM4MzVkNzk).

[2017-11-07 00:52] andy5995 opened #7 "qtest.cc:135:53: warning: ISO C++ forbids converting a string constant to ‘char*’ [-Wwrite-strings]"
Anyone interested in doing a PR to fix this?

[code]

Feel free to join the [chat room](https://join.slack.com/t/htdig/shared_invite/enQtMjY3NDU1MjMwODk3LTdmM2I2OWI5NWI4MzU4Y2JmMjk2MzAxNDYzM2IzZjJmMGE2MDZmMWMxNDY3MjAwOGFjMmE1YjM2MmM4MzVkNzk).

[2017-11-07 00:53] andy5995 opened #8 "qtest.cc:126:42: warning: ISO C++ forbids converting a string constant to ‘char*’ [-Wwrite-strings]"
[code]

[2017-11-07 00:56] andy5995 opened #9 "QueryLexer.cc:62:25: warning: suggest parentheses around ‘&&’ within ‘||’"
Anyone interested in doing a PR to fix this?

[code]

Feel free to join the [chat room](https://join.slack.com/t/htdig/shared_invite/enQtMjY3NDU1MjMwODk3LTdmM2I2OWI5NWI4MzU4Y2JmMjk2MzAxNDYzM2IzZjJmMGE2MDZmMWMxNDY3MjAwOGFjMmE1YjM2MmM4MzVkNzk).

[2017-11-07 20:16] andy5995 opened #10 "htdig.cc:131:14: warning: ISO C++ forbids converting a string constant to ‘char*’ [-Wwrite-strings]"
Anyone interested in doing a PR to fix this?

This warning repeats many times when [htdig.cc](https://github.com/andy5995/htdig/blob/ed4c28327704ebd6460924d0bc909ed166e67a84/htdig/htdig.cc) is being built.

[code]

Feel free to join the [chat room](https://join.slack.com/t/htdig/shared_invite/enQtMjY3NDU1MjMwODk3LTdmM2I2OWI5NWI4MzU4Y2JmMjk2MzAxNDYzM2IzZjJmMGE2MDZmMWMxNDY3MjAwOGFjMmE1YjM2MmM4MzVkNz

[2017-11-07 20:17] andy5995 opened #11 "Should htdig use libmysql or other database library instead of having code for it's own?"
Should htdig use libmysql or other database library instead of having code for it's own?

[2017-11-07 22:47] andy5995 opened #12 "Fix: SplitMatches.cc:80:25: warning: ISO C++ forbids converting a string constant to ‘char*’"
https://github.com/andy5995/htdig/blob/f41d326ad4fd19cb2412d047fc06ba68d171efbb/htsearch/SplitMatches.cc

[code]

[2017-11-08 04:12] andy5995 opened #13 "Valgrind output of htdig.cc: Conditional jump or move depends on uninitialised value(s)"
Some [Valgrind](http://valgrind.org/) output

[code]

[2017-11-08 12:25] Davidsksilva commented on #12
Hi, you are initializing a pointer with a string constant. What you want to do is an array of char, for the given constant string, a size of 25 will be more than enought:

`char config_item[25] = "seacrh_reuslts_order"`

Sorry for any inconvenience, first timer here.

[2017-11-08 17:50] andy5995 commented on #12
It's no inconvenience at all. In fact, you helped me realize that when I post tickets like this, I should mention that I'm asking if anyone is interested in doing a a PR to fix it. Thank you!

@Davidsksilva , are you interested in doing a PR to fix that?

I wonder if `25` should be defined somewhere (#define), so we can use it for other similar variables and keep track of it more easily. Do you ha

[2017-11-12 14:43] AlexChristoforides commented on #6
I’d love to!

[2017-11-12 19:24] andy5995 commented on #6
Thanks, @AlexChristoforides , let me know if you've got any questions along the way.

[2017-11-12 20:47] andy5995 opened #14 "htdig cannot crawl urls with Hindi characters"
When running jekyll locally, this was output in the console when I ran `htdig -i`. It crawled the jekyll web server running at http://localhost:4000

[code]

[2017-11-12 21:24] AlexChristoforides commented on #6
Which branch should I create the pull request from? Sorry, I'm new...

[2017-11-12 21:40] andy5995 opened #15 "vars in the rundig script need to get changed based on the --prefix value"
When the default installation directories are changed by ./configure --prefix , the paths in this script are not updated accordingly when `make install` is run.

https://github.com/andy5995/htdig/blob/bcfd2c4778c859e32cc5a9317574d495d7f34eca/installdir/rundig#L10-L13

[2017-11-12 21:44] andy5995 commented on #6
Oh, no need to apologize. I was new too, once. :)

Can you join the chat room so this ticket doesn't fill up with instructions?

The general instructions are here: https://github.com/andy5995/htdig/blob/master/CONTRIBUTING.md

But let me know if you get stuck somewhere!

[2017-11-13 02:20] andy5995 opened #16 "Review and update docs in htdoc"
Review and update docs in htdoc

[2017-11-13 06:02] andy5995 opened #17 "If start_url isn't specified, spit out a message"
If start_url isn't specified in htdig.conf, spit out a message that the config file needs to be edited and exit.

Presently, if that field is blank, http://www.htdig.org/ is used as the start_url

https://github.com/andy5995/htdig/blob/39177ad8581c4cd3c0defd8cc6ec2a27aad7ec90/htcommon/defaults.cc#L2378-L2390

[2017-11-13 20:19] #6 closed

[2017-11-13 22:54] #16 closed

[2017-11-14 22:06] #4 closed

[2017-11-14 22:09] andy5995 commented on #9
Closed via https://github.com/andy5995/htdig/commit/d5e30e836d4173ee57e7c3ab06bb8563e5d9864d Thanks @ram-dahal

[2017-11-14 22:09] #9 closed

[2017-11-15 00:23] andy5995 opened #21 "implement lighthttpd for testing"
I was looking at http://www.lighttpd.net/ for a light-weight web server. Apache is great of course, but for testing htdig, I think something more minimal would be adequate.

If someone sets this up and documents the process, we can use it for testing.

Once someone sets up lighthttpd , htdig should be able crawl http://localhost and run cgi programs such as htsearch.

We could supply a few html pa

[2017-11-15 00:30] andy5995 opened #22 "Create a few basic web pages for testing"
This is to help complete #21 and for [project 1](https://github.com/andy5995/htdig/projects/1)

We'll need some sample html web pages for testing. They can be downloaded from any web site, but some of the links they contain will have to be altered so when http://localhost is crawled, the pages can find each other.

It may be easier just to create 3 or 4 web pages with a few lines of arbitrary text

[2017-11-15 22:37] Ritikkumar1998 commented on #12
I am interested in this matter but I am a first timer and don't know anything about PR.
Can anyone guide me. ?

[2017-11-15 23:19] andy5995 commented on #12
Yes, I've documented instructions at https://github.com/andy5995/htdig/blob/master/CONTRIBUTING.md :)

[2017-11-15 23:51] #5 closed

[2017-11-16 00:31] andy5995 opened #24 "modernizing html code output by htsearch"
Coming up soon on the TODO list is modernizing the html code output by `htsearch`.

Some of that output can be seen by doing a search at http://htdig.dreamhosters.com/

So far I'm heavily leaning toward using @dafky2000's [simplectemplate](https://github.com/dafky2000/simplectemplate). I think it would be the perfect library for this task.

[2017-11-16 02:15] andy5995 commented on #7
Oh.. same warning, same file. Sure this could have been included with the other PR @AlexChristoforides but no worries.

[2017-11-16 02:43] #7 closed

[2017-11-17 02:08] AlexChristoforides commented on #22
Would you like the pages to have any styling or are these just used for testing of the application?

[2017-11-17 03:44] andy5995 commented on #22
Just for testing, no styling is needed.

I think using `wget` will be the easiest solution. See this web page for more info.

https://superuser.com/questions/1224001/wget-rewriting-directory-links

Have you ever used `wget` before and is this something you'd like to try?

If so, you might have to tweak the options shown in the example above.

As for the web site to mirror...

I'm pretty sure we'll

[2017-11-17 03:53] andy5995 commented on #21
There really shouldn't be much to document. How to set up the server should already be documented on the lighthttpd web site.

So the user would have to install it, and make sure the server root points to "samplesite" (see #22). The pages within "samplesite" will be included with the htdig source distribution.

CGI programs would need to be enabled under the lighthttpd server. With the apache serv

[2017-11-17 06:04] AlexChristoforides commented on #21
@andy5995 Yeah! I'll look at it tomorrow!

[2017-11-18 00:15] andy5995 commented on #21
I was able to work on it a bit today. We can compare notes. :)

I had to install a couple extra libraries.

I decided not to install as root, so I ran
`./configure --prefix=$HOME` ; although I'd suggest `./configure --prefix=$HOME/usr` when the docs are finalized.

I got to the point where I can run the server and execute htsearch through the web form.

My current lighthttpd.conf
[code]

I'm using

[2017-11-18 00:41] andy5995 commented on #12
@Ritikkumar1998 Someone patched this already but please join the chat room and keep in touch if you're still interested in contributing. I'll be filing more tickets soon.

Also, any warnings you see when building you can fix even if no issue for it has been created yet. But only do one PR for each warning message, unless there are multiple warnings coming from 1 file.

[2017-11-18 00:42] #12 closed

[2017-11-18 00:45] andy5995 commented on #10
Closed by b60d723

[2017-11-18 00:45] #10 closed

[2017-11-18 01:21] andy5995 opened #30 "WordKey.cc:372:7: warning: suggest explicit braces to avoid ambiguous 'else'"
The warning needs to be fixed.

[code]
and this one, in a related file:

[code]

https://github.com/andy5995/htdig/blob/1d0d2f4e17f2bbbfc6b402c1ece51e7e80fe66e2/htword/WordKey.cc#L1

[2017-11-18 01:24] andy5995 opened #31 "URLTrans.cc:75:28: warning: deprecated conversion from string constant to 'char*'"
This warning needs to be fixed

[code]

[2017-11-18 01:26] andy5995 opened #32 "Transport.cc:102:14: warning"
These warnings need to be fixed

[code]

[2017-11-18 01:27] andy5995 opened #33 "HtHTTP.cc:648:20: warning"
These warnings need to be fixed.

[code]

[2017-11-18 01:28] andy5995 opened #34 "HTML.cc:88:170: warning"
These warnings need to be fixed.

[code]

[2017-11-18 01:34] AlexChristoforides commented on #34
I can look into this one if you want!

[2017-11-18 02:28] andy5995 commented on #34
Ok. 😃

[2017-11-18 21:36] andy5995 commented on #21
This was completed by c39cd1268c6867dd9c6bd42ec738272fb0fe528c but may need some tweaking

[2017-11-18 21:36] #21 closed

[2017-11-18 21:36] andy5995 commented on #22
This was completed by c39cd1268c6867dd9c6bd42ec738272fb0fe528c but may need some tweaking

[2017-11-18 21:36] #22 closed

[2017-11-18 21:59] andy5995 commented on #24
@AlexChristoforides , do you also like to work with HTML and CSS?

[2017-11-18 23:40] #33 closed

[2017-11-19 20:35] andy5995 opened #36 "Add internationalization to hldig"
Wouldn't it be nice if some of the output messages from hldig and the other programs in the package output strings in other languages?

https://www.gnu.org/software/gettext/manual/html_node/index.html#SEC_Contents

I'm working on it...

[2017-11-19 22:28] ramdahal commented on #32
@andy5995 Could you please check these warnings again? I think I have already fixed it.

[2017-11-19 22:35] andy5995 commented on #32
Yes, I looked at the build log. I don't see the warnings. What number PR did you submit that fixed it? (We can make a note of it here)

[2017-11-19 22:35] #32 closed

[2017-11-19 22:39] ramdahal commented on #32
It was PR#35.

[2017-11-19 22:57] andy5995 commented on #36
I edited the source and Makefiles to support internationalization. Now all we need are translators. :) Ram may start working on a Nepali translation.

[2017-11-19 23:15] andy5995 opened #38 "libtool: warning: 'libfuzzy.la' has not been installed"
This shows in the travis build log:

ibtool: warning: 'libfuzzy.la' has not been installed in '/home/travis/build/andy5995/htdig/tempbuild/lib/htdig' near L4844 during `make install`

I assume a Makefile needs editing somewhere. Not sure if that's new or I just now noticed it. I don't know how to fix it yet.

[2017-11-20 19:44] #31 closed

[2017-11-20 20:31] ghost opened #40 "WordKeyInfo.cc:48:18: warning: deprecated conversion from string constant to ‘char*’ [-Wwrite-strings]"
Anybody interested in doing a PR for this?

`WordKeyInfo.cc:48:18: warning: deprecated conversion from string constant to ‘char*’ [-Wwrite-strings]
name.set("Word");`

[2017-11-20 21:03] andy5995 opened #41 "create htcommon/messages.c for common messages"
If you run `ack "Verbose mode.  This increases the verbosity of the"` you'll see a lot of the same messages in several files.

So for example, this code:
[code]
Could go into htcommon/messages.c and all the other programs that use it could call a variable containing the contents of the string in that file.

And actually, to help with preparing the source for translating, instead of using "cout" we

[2017-11-20 21:25] AlexChristoforides commented on #41
@andy5995 Yeah! I’ll look into it. I’m a little busy at the moment, but I’ll work on it later tonight!

[2017-11-20 22:01] andy5995 opened #42 "Create Hindi translation"
@Debu44 is working on this.

[2017-11-21 00:18] andy5995 commented on #41
So these are the files where you'll be removing messages

htdig/htdig.cc
htsearch/htsearch.cc
htsearch/qtest.cc
htsearch/parsetest.cc
httools/htmerge.cc
httools/htdump.cc
httools/htstat.cc
httools/htpurge.cc
httools/htload.cc

You'll notice in htdig.cc that some of the cout statements have been changed to printf statements, and that `_(` and a closing parens has been added to some of the strings.

[2017-11-21 00:30] andy5995 commented on #41
I have to correct myself on some of what I said above. That will all help to prepare the sources for translation, but since the translated strings at present will only be in messages.c and htdig.cc, that would not all be necessary. gettext would only need to be triggered in messages.c.

But as I said, it will help prepare the sources for translating. Soon, each of those .cc files will also need to

[2017-11-21 03:04] andy5995 opened #43 "Add international support for Dutch/Nederlands (nl_NL)"
@sexybiggetje, would you be interested in doing another translation?

https://github.com/andy5995/htdig/blob/6fde40d533d603b54ff2ef3ef997b0740a914837/po/messages.pot#L1

[2017-11-21 03:06] andy5995 opened #44 "Add international support for Deutsch (de)"
Anyone interested in creating a de.po file and doing a translation?

https://github.com/andy5995/htdig/blob/6fde40d533d603b54ff2ef3ef997b0740a914837/po/messages.pot#L1

[2017-11-21 18:44] andy5995 commented on #43
@sexybiggetje this can be disregarded.

I learned about the Translation Project last night. It seems we don't need to do translations. I can still merge any in and they can be used for the next month or two. But after I have a complete English POT file, I can send it to the Translation project https://translationproject.org/html/welcome.html

[2017-11-21 18:45] andy5995 commented on #44
I learned about the Translation Project last night. It seems we don't need to do translations. I can still merge any in and they can be used for the next month or two. But after I have a complete English POT file, I can send it to the Translation project https://translationproject.org/html/welcome.html

[2017-11-21 18:45] #44 closed

[2017-11-21 18:46] andy5995 commented on #42
I learned about the Translation Project last night. It seems we don't need to do translations. I can still merge any in and they can be used for the next month or two. But after I have a complete English POT file, I can send it to the Translation project https://translationproject.org/html/welcome.html

[2017-11-21 18:47] andy5995 commented on #36
I learned about the Translation Project last night. It seems we don't need to do translations. I can still merge any in and they can be used for the next month or two. But after I have a complete English POT file, I can send it to the Translation project https://translationproject.org/html/welcome.html

[2017-11-21 19:58] sexybiggetje commented on #43
Ok, was about to start :). But no problem, I can watch same tv now ;)

[2017-11-21 21:03] andy5995 opened #45 "using configure to enable tests, using --with-apache"
I tried this last week, and after `configure` completed, I was able to run `make check`

    ./configure --prefix=$PWD/testing --with-ssl --with-apche=/usr/sbin/apache2 --enable-tests

Though the checks failed. I assume that had something to do with the tests not being updated since 2004. And I don't know how to code that into a configure.ac file or Makefile.am

But now I don't even get that far.

[2017-11-21 23:55] andy5995 opened #46 "fix warnings in htsearch/Display.cc"
Anyone want to fix some of these warnings?

![screenshot_2017-11-21_17-53-10](https://user-images.githubusercontent.com/16764864/33102970-fd47f546-cee4-11e7-9c55-42b724f301dc.png)

[2017-11-22 00:48] andy5995 opened #47 "search box should be also be on tag pages"
The search box should appear on tag pages, just as it does on category pages.

[2017-11-22 00:49] andy5995 commented on #47
Oops.. this was a ticket for another project!

[2017-11-22 00:49] #47 closed

[2017-11-22 21:16] andy5995 opened #48 "'make uninstall' doesn't remove all files"
These file don't get removed when `make uninstall` is run.

[code]

One side effect of this problem is that if these files are altered in the source folder, they won't overwrite and update the files in the install directory the next time `make install` is run.

    installdir/*.html
    installdir/htdig.conf

[2017-11-22 22:53] AlexChristoforides commented on #41
@andy5995 I believe that the location for the code snippet above is perfectly suitable to be located in HtConfiguration.cc!

[2017-11-22 23:29] tauheed25 commented on #46
fixing the style warnings

[2017-11-23 00:02] andy5995 commented on #46
I see you already submitted a PR for this, but @Debu44 is already working on this issue. (mentioned in the chat room). There is a note in the contributing guidelines about ways to prevent working on issues that other people are already working on.

https://github.com/andy5995/htdig/blob/master/CONTRIBUTING.md

Thank you for the offer though. :)

[2017-11-23 00:07] tauheed25 commented on #46
I see, my bad I didn't read the contributing section... assumed that no comments meant no-one took ownership!
No problem.. glad to help, had some time to use.

[2017-11-23 00:11] andy5995 commented on #46
Normally that would be the case, but I asked about it in the chat room and someone replied later, so the ticket hadn't been updated  yet.

You're welcome to join the chat room and perhaps take another issue if you're interested. I create new ones very frequently.

As for the work you've already done, we may still be able to use it depending on how Debu's patch proceeds; so if you don't mind, hold

[2017-11-23 00:25] tauheed25 commented on #46
Joined!

Sure, I just pushed a fix, which seems to be passing travis

[2017-11-23 01:27] andy5995 commented on #24
Looks like htsearch is using templates in the installdir directory. I haven't figured out yet how the templating system works. I'd like to understand it better so that we don't leave behind any unnecessary code when we switch to a different template method.

If it's clear to anyone, feel free to take this ticket.

[2017-11-23 18:03] #46 closed

[2017-11-23 23:55] andy5995 commented on #30
Closed with 4d0af8407bab1fe99f3aa229ac1419d173a6fc71

[2017-11-23 23:56] #30 closed

[2017-12-06 07:32] andy5995 commented on #40
Now on L53

https://github.com/andy5995/htdig/blob/a4f1085be0ce03fda0f2b0338eebbaace1305c68/htword/WordKeyInfo.cc#L53

[2017-12-08 20:51] andy5995 opened #50 "documentation and web site"
I've been having a difficult time deciding on what do about the existing documentation and what kind of web site should be put in place. I thought of using [jekyll](https://jekyllrb.com/) to generate the site, or perhaps just using a wordpress blog. I'm hesitant to change much of the older documentation because it reflects the work the original maintainers did on this project.

The original htdig

[2017-12-08 21:13] andy5995 opened #52 "Adding support for translating the output messages"
Although I've added some support for translating the output messages using [gettext](https://www.gnu.org/software/gettext/), I haven't completed the process yet. Now I wonder if a different method should be used. I have used used gettext before with a C program, but not a C++ program. I wonder if there are alternate solutions that should be considered. Does anyone have suggestions about this?

I'v

[2017-12-11 02:44] andy5995 commented on #50
To help move forward, I've decided the first step should be renaming this fork. That will make it much easier to separate this continuation of ht://Dig from the work the original development team did when writing and updating docs, and issuing releases.

hl://Dig I believe will be an appropriate name. The hl refers to "hyper-link".

I'll begin updating the docs and soon write tickets to help trans

[2017-12-11 03:42] andy5995 opened #53 "Using simplectemplate to generate the web site"
I am seriously considering using [simplectemplate](https://github.com/dafky2000/simplectemplate) to generate the web site. @dafky2000, do you think sct would be suitable to generate a site similar to this one? https://andy5995.github.io/hldig

And do you suggest using the latest release? Any more big changes in your library scheduled? Should I wait a bit?

[2017-12-11 12:27] dafky2000 commented on #53
The biggest change is already committed to https://github.com/dafky2000/simplectemplate/tree/develop. `render_template` is replaced with `render_template2` and the former has been deleted.

I have 2 other big changes scheduled:
https://github.com/dafky2000/simplectemplate/issues/23
https://github.com/dafky2000/simplectemplate/issues/51

But these 2 new features should not affect the current templa

[2017-12-11 12:42] dafky2000 commented on #53
Sorry, to answer your first question - I think https://github.com/dafky2000/simplectemplate would make a good fit. Especially once I get https://github.com/dafky2000/simplectemplate/issues/23 and https://github.com/dafky2000/simplectemplate/issues/51 done

[2017-12-11 12:58] dafky2000 commented on #53
Also, `develop` branch has removed the `data.` prefix from template variables. I still have to add options for utilizing https://github.com/dafky2000/simplectemplate/issues/24 which could be used to add it back in as part of the opening brace.

[2017-12-12 03:39] dafky2000 commented on #53
Sorry to be a pain Andy, but I just updated develop so it actually operates how I described above... If you would like to continue to use the `data.` prefix, you should use `my_render_template_file` which takes a struct input of options - take a look at https://github.com/dafky2000/simplectemplate/blob/4086d0c09cd6e5c087805efb693077a5c71859a2/spec/template_functions_render_template_file.c#L72

[2017-12-12 03:53] andy5995 commented on #53
Oh, no worries. I figured that might happen. I'll fix it up tomorrow. Thanks for the FYI.

[2017-12-12 06:24] andy5995 commented on #50
I've started working on implementing the new web site (see #53 and #54). I'll create some specific tickets soon for HTML and CSS issues.

[2017-12-13 06:33] #53 closed

[2017-12-13 06:45] andy5995 opened #55 "enhance the design of the web site with CSS"
The web site is at https://andy5995.github.io/hldig/index.html

The style sheet is in docs/assets/css

https://github.com/andy5995/hldig/tree/master/docs

I haven't finished converting the entire site yet. There are only a few pages that use the stylesheet. You can see which ones by looking in the docs/infiles directory. The files there have been used to generate the corresponding .html files in d

[2017-12-13 06:48] andy5995 opened #56 "new hl://Dig logo needed"
Because hl://Dig is a fork of ht://Dig, it should have a different logo.

Any graphic designers interested in this?

[2017-12-27 11:50] #15 closed

[2017-12-27 11:52] andy5995 commented on #15
Fixed. The vars in the bash script don't get changed based on the --prefix, but I tried to set it up so it would work out-of-the-box.

[2017-12-27 12:21] andy5995 commented on #34
https://github.com/andy5995/hldig/blob/5e653fce7324531a8517a78f1c50df9ed33b2489/htlib/StringMatch.cc#L94

When I change "char *pattern" to "String pattern", the warnings go away, but that understandably leads to more warnings:

[code]

[2017-12-28 10:39] andy5995 opened #66 "htdig: rename to hldig"
- [x] htdig/ needs to be renamed
- [x] text inside source code needs to be change
- [x] htdig.* files need to be renamed
- [x] update docs
- [x] change references to "htdig" on the [web site](https://solbu.github.io/hldig/) (#50)

[2017-12-28 11:21] andy5995 opened #68 "htsear"
- [ ] htsearch/ needs to be renamed
- [ ] text inside source code needs to be change
- [ ] htsearch.* files need to be renamed
- [ ] update docs
- [ ] change references to "htsearch" on the [web site](https://andy5995.github.io/hldig/) (#50)

[2017-12-28 11:23] andy5995 opened #69 "httools: rename to hltools"
- [x] httools/ needs to be renamed
- [x] text inside source code needs to be change
- [x] files in httools need to be renamed
- [x] update docs
- [x] change references to "httools" on the [web site](https://solbu.github.io/hldig/) (#50)

[2017-12-28 11:31] andy5995 commented on #36
The Translation Project has certain requirements that a project must meet. One is the quality of the project, though it's not mentioned on their web site. I've decided that we'll do our own translations and not go through the TP. More info to come. (see also #52).

[2017-12-29 04:49] andy5995 commented on #24
Now that  the guts of the new web site are in place (#55), we have a site generator that can be modified a little to make some new pages for the hlsearch results pages. Once I convert the existing pages, they'll be ready for a new design.

Here's an example of what they look now:

![screenshot_2017-12-28_22-45-41](https://user-images.githubusercontent.com/16764864/34429668-ef034a36-ec20-11e7-8f72-

[2017-12-29 06:00] andy5995 commented on #43
@sexybiggetje , as with rmw, we'll be doing translations "in-house". Are you available to do an initial translation that I could use for testing?

[2017-12-29 06:16] andy5995 commented on #42
We won't be going through the TP, but doing translations "in-house". @Debu44 do you still have the translation you made?

[2017-12-29 06:28] andy5995 commented on #41
I did part of this in https://github.com/andy5995/hldig/commit/37918a229e0b62a03bcc83f4a470ad50e63d3e0e#diff-188bae5413d3f35e5347962b8c9c47bd

[2017-12-29 10:17] sexybiggetje commented on #43
Ofcourse, no problem.

[2017-12-29 10:38] #43 closed

[2017-12-30 17:17] sexybiggetje commented on #14
I guess the whole String/Retriever/HtWord* should be converted to be able to handle Unicode with iconv? Not experienced enough to take this on tho.

[2017-12-30 20:03] andy5995 commented on #14
But that's a great hint though (if you're right). Thanks!

[2017-12-30 20:06] andy5995 opened #73 "ssl should be enabled by default"
Right now, --with-ssl must be passed to configure. ssl should be enabled by default, and there should be a configure option to --disable-ssl

It's safe to assume that this behavior would be set in configure.ac

I don't know how to do it yet. :)

[2017-12-31 14:50] andy5995 commented on #45
`make check` works when I use this:

`./configure --prefix=$PWD/testing --with-ssl --enable-tests --with-apache=/usr/sbin/apache2`

[2017-12-31 14:51] #45 closed

[2018-01-01 15:21] andy5995 opened #74 "major, micro, and minor version numbers missing from lib file names"
I screwed up something at some point. Here's a directory listing of my testing/lib/hldig directory.

[code]

[2018-01-01 15:50] andy5995 opened #76 "travis: Mac OSX build fails on master"
Latest build on travis

https://travis-ci.org/andy5995/hldig/builds/323732514

[2018-01-04 00:26] andy5995 commented on #55
The template files (for the main layouts) are in

https://github.com/andy5995/hldig/tree/master/docs/templates

The content for each page is in https://github.com/andy5995/hldig/tree/master/docs/infiles

The site is generated by running [docs/src/simplecgen](https://github.com/andy5995/hldig/tree/master/docs/src)

simplecgen looks at each of the files in infiles/, and decides which layout/template

[2018-01-04 21:52] andy5995 commented on #36
Closing. There's a more specific ticket for this (#52)

[2018-01-04 21:52] #36 closed

[2018-01-05 13:23] andy5995 commented on #48
This requires the [Makefile.am](https://github.com/andy5995/hldig/blob/34c4af2b8fcf16a115791c7f10c965b33a9dc750/installdir/Makefile.am#L1) in installdir/ to have an uninstall target.

[2018-01-05 14:02] #74 closed

[2018-01-05 15:08] andy5995 commented on #55
@escottalexander Are you still available to take this on? Even a little work on it helps. You can see the left hand menu is not mobile friendly, for instance: https://andy5995.github.io/hldig/

[2018-01-05 15:08] andy5995 commented on #73
@sexybiggetje , would you mind if I take this issue?

[2018-01-05 16:09] sexybiggetje commented on #73
No problem sir

[2018-01-05 16:40] andy5995 commented on #55
There are a lot of "infiles". If any styles need to be added there, it might be best to just add them to one of the infiles, then I or other people can apply the changes to the rest. That way, you (@escottalexander) can just focus on the templates and style sheet.

[2018-01-07 12:23] #73 closed

[2018-01-09 16:57] andy5995 opened #81 "home page doesn't validate"
Fails the html validator:

https://validator.w3.org/nu/?doc=https%3A%2F%2Fandy5995.github.io%2Fhldig%2F

The files that need to be edited are

https://github.com/andy5995/hldig/blob/master/docs/templates/default.html

https://github.com/andy5995/hldig/blob/master/docs/assets/css/style.css

[2018-01-09 19:19] andy5995 commented on #76
The error show in the output above was fixed in ed1fe67e27e881ae1478101b3c44e107f4632eaa

These is the new ones (that cause the build to fail):

https://travis-ci.org/andy5995/hldig/jobs/326877457

[2018-01-10 14:02] andy5995 commented on #15
This has been fixed in https://github.com/andy5995/hldig/commit/203d97e83664e464b62cf6c620cd1d7209c7c1b1

When make install is run, the 4 vars at the top of rundig get updated automatically based on the installation directories.

The magic happens in https://github.com/andy5995/hldig/blob/c9a016db589f65b8d87af8ec880a79cba39f9c6f/installdir/Makefile.am#L45

So I changed the values in the 4 vars at

[2018-01-15 13:27] 1sn0s commented on #81
Hi, may I work on this ?

[2018-01-15 16:53] andy5995 commented on #81
@1sn0s Would you like to work on this? Please let me know if you have any questions.

[2018-01-15 17:23] AanjaneyaSinghDhoni commented on #81
i want to work on this. I' m a beginner and want to learn how to contribute on projects on github.

[2018-01-15 17:34] andy5995 commented on #81
Ok @AanjaneyaSinghDhoni , it appears that 1sn0s deleted his message and won't be working on this.

Thank you for the offer.

Please see https://github.com/andy5995/hldig/blob/master/CONTRIBUTING.md

And the README file in the docs/ directory.

[2018-01-16 13:41] 1sn0s commented on #81
@andy5995 Sorry, I realized I might not be able to work on this on time. That is why I deleted my message.

[2018-01-16 17:01] andy5995 commented on #81
Hi @1sn0s . There was no time limit on it. And actually would only take about 20 minutes to complete. though it doesn't seem that way to people not familiar with how the site is generated; I'm sure it can seem a bit confusing.

But thank you responding, and explaining :)

[2018-01-16 17:19] 1sn0s commented on #81
oh ok. I looked at the code roughly and had the impression, it could be changing the broken html to CSS, but couldn't commit to building and fixing it. thankyou very much. I will probably check once it is fixed.

[2018-03-06 13:36] solbu commented on #48
No, it requires the Makefile.am to _Not hardcode_ where it install these files.
I've fixed the files in bin/, and is working on the others.

Why are the images installed into ./htdocs/htdig/ ?
If one package this in, say, rpm, which have «--prefix /usr» the htdocs will end up in /usr/htdocs, when it belongs in /usr/share/hldig/htdocs.

[2018-03-06 15:18] solbu commented on #48
I spoke too soon.
The install phase assumes the location where everything is installed is the location it will end up!

This is a flawed assumption. Unlike Debian, rpm packaging _does not_ use fakeroot, we use DESTDIR, and most of the conditional sec scripts are not executed as a result.

[2018-03-07 16:58] #48 closed

[2018-03-07 17:19] andy5995 opened #85 "create Portuguese translation"
@marioecg, would you be interested in doing this?

https://github.com/andy5995/hldig/blob/master/TRANSLATING.md

[2018-03-07 17:22] andy5995 opened #86 "create Russian translation"
@svitlana-galianova, would you be interested in doing this?

https://github.com/andy5995/hldig/blob/master/TRANSLATING.md

[2018-03-07 17:28] andy5995 commented on #13
Outdated.

[2018-03-07 17:28] #13 closed

[2018-03-07 18:35] svitlana-galianova commented on #86
Sure, I would love to help you out!

[2018-03-08 04:15] andy5995 opened #88 "The Makefiles for Windows need updating"
I'm not a Win developer and don't know the best way to approach making sure hl://Dig builds on Windows. I assume now that building with Visual Studio 2015 or 2017 would be the preferred way.

[2018-03-08 21:00] andy5995 opened #91 "`make dist` shouldn't try to build tests when creating tarball"
As reported by @solbu , `make dist` does not work.

I'll start working on that within the next few days, unless someone else wants to.

[2018-03-09 05:10] andy5995 commented on #85
I'm going to close this for now. We may be going through the TP for translations.

[2018-03-09 05:10] #85 closed

[2018-03-09 05:11] andy5995 commented on #42
I'm going to close this for now. We may go through the TP for translations.

[2018-03-09 05:11] #42 closed

[2018-03-09 22:12] jamessouth commented on #81
is this still open/available? i'm a beginner and i think i can fix this issue.

[2018-03-09 22:27] andy5995 commented on #81
Yes, @jamessouth .

[2018-03-09 23:12] jamessouth commented on #81
ok i'll have something soon @andy5995

[2018-03-11 03:48] solbu commented on #91
I fixed the most critical part of this issue.

It remains to figure out how to stop «make dist» from running the compile and tests in test/ when creating a tarball.
If one doesn't compile everything before make dist, It will fail. I've never seen that happen before.

But it's not critical at the moment.

[2018-03-11 06:12] andy5995 commented on #91
But sounds like something there should be a ticket for?

[2018-03-11 06:39] andy5995 opened #99 "not all required files are included in 'make dist' archive"
`make dist` doesn't package all required files.

I noticed gettext.h isn't included, and some files from htdb/

[2018-03-11 11:04] solbu commented on #99
I notice that the files not included in htdb/ is not compiled. I suspect that is because they are not included in Makefile.am.

According to «git log htdb/Makefile.am» or «gitk htdb/Makefile.am» they where nev er included, and hence never built at any point in the projects history.
«gitk htdb/» also sow that the only changes to the files as far back as february 2000, the only changes to the not in

[2018-03-11 20:08] #76 closed

[2018-03-12 20:56] #81 closed

[2018-03-15 02:13] jamessouth commented on #56
![logo](https://user-images.githubusercontent.com/25541381/37440798-5c7b0338-27cc-11e8-82da-fa6d979e748c.jpg)

here's an idea i put together real quick

[2018-03-15 03:09] andy5995 commented on #56
oh, yeah, that looks good :)

Right now, I think the logo is primarily used in hldig search results

http://htdig.dreamhosters.com/

But that could also go on the README

Thanks!

[2018-03-15 03:37] jamessouth commented on #56
yeah that's the only place i have seen it, i ran a search just to see what happens, it took me to dreamhosters with the old logo up top. so i just threw something together that was somewhat like the old one, small, simple. i think i will tweak it a little to give the content a little padding, get the edge away a bit.

[2018-03-15 04:05] jamessouth commented on #56
![logo3](https://user-images.githubusercontent.com/25541381/37443751-ffc35e46-27db-11e8-8152-dcae2ac0f0c7.jpg)

re-proportioned to shrink image relative to text

[2018-03-15 06:18] andy5995 commented on #56
Ok, so to make the replacement...

The files are here:

https://github.com/andy5995/hldig/tree/master/installdir

Now that I think of it, I don't think it's needed in the footer. It's not really customary to have the same logo on the top and at the bottom, is it?

So the htdig.gif can be replaced, then edit the html files in installdir/ to reflect the change.

Then edit L10 of Makefile.am to remov

[2018-03-27 18:45] andy5995 opened #104 "config.html needs updating"
A lot of outdated info on this page of the web site.

https://solbu.github.io/hldig/config.html

Not only do instances of "htdig" need to be changed to "hldig", but also some path information in the example config have changed after @solbu's patch (https://github.com/solbu/hldig/commit/44e8b17e717839fe6e47c2a620fda1467b8af45c)

config.html is generated from https://github.com/solbu/hldig/blob/mast

[2018-08-26 20:12] solbu opened #109 "conf_parser.cxx:1296:36: error: ‘aConf’ was not declared in this scope"
When running «make dist» something reconfigures «htcommon/conf_parser.cxx», which makes it fail build.

To test, run in this exact sequence:
./configure && make dist && make

It results in this error (I have run make a second time, isolating the build error)

[2018-08-27 20:35] andy5995 commented on #109
I don't have any experience with bison so not sure how long it would take me to figure this out.

Another option may be: Assuming this only parses the config file, switching to a different method for parsing may be a better option. https://github.com/martinh/libconfuse

[2018-08-27 20:59] andy5995 opened #110 "[discussion] moving libhtdigphp to a separate repo"
I'm thinking it may be worth it to move [libhtdigphp](https://github.com/solbu/hldig/tree/master/libhtdigphp) to a separate repo.

I was taking a look at it and one problem is that it's looking for hldig in the wrong directories, since we moved many of the files to /opt/www.

Another problem is looking at the Makefile

https://github.com/solbu/hldig/blob/3d3f7eb9fc805b59ce14142e6471bcb5c1b48466/li

[2018-08-29 12:31] roklein commented on #110
No, my comment meant, in _my_ repository the ht://Dig 4 stuff is missing.  If I recall correctly one of the first things done in the ht://Dig 4.0 branch was replacing searching and indexing with  lucene.  IMO that means heart and brain of ht://Dig get ripped out and replaced by something else.  What remains is basically the web interface and glue code.  I may be overboard with my opinion, but back

[2018-08-30 22:59] andy5995 commented on #110
Thanks again for getting me up to speed, @roklein . Seems like we should do what you suggested originally, and keep going as we are, forgetting about 4.x.

The libhtdigphp stuff may as well stay here, in case someone ever wants to mess with it, or learn from it, but it shouldn't be included by `make dist` at the present time, imo.

[2018-08-31 00:07] solbu commented on #110
Regarding submodules, the only requirement I have on these, the build process cannot depend on external sources. A distribution should only have to download the tarball, untar it, run configure, make and make install. Nowhere in the build process should an internet connection be required, as many distriobuions then can't build it. The archive the user download must be self contained.

One can howe

[2018-08-31 15:16] andy5995 commented on #24
A recent screenshot when testing locally

![image](https://user-images.githubusercontent.com/16764864/44920781-6c1c4080-ad06-11e8-8c93-eac41a13edbe.png)

The html for that is in https://github.com/solbu/hldig/tree/master/installdir

and the css: https://github.com/solbu/hldig/tree/master/docs/assets/css

[2018-09-03 02:20] andy5995 opened #118 "Fuzzy.cc:strings need to be marked for translation"
There are strings in this file that need to be marked for translation.

https://github.com/solbu/hldig/blob/f276b92ca3f0b59a165b878a517b38d9cd71b26f/hlfuzzy/Fuzzy.cc#L170

[2018-09-03 02:26] #56 closed

[2018-09-03 02:27] #55 closed

[2018-09-03 02:36] andy5995 commented on #52
Some additional info on this LQ forum thread:

[[C++] marking keywords for use with xgettext](https://www.linuxquestions.org/questions/programming-9/%5Bc-%5D-marking-keywords-for-use-with-xgettext-4175620430/)

[2018-09-03 02:40] solbu commented on #66
Hopefully this is done, closing issue.

[2018-09-03 02:40] #66 closed

[2018-09-03 21:32] andy5995 opened #119 "rundig warns about files being the same"
This happens when I first use `rundig`. It doesn't seem to stop anything from working though when I do [testing](https://github.com/solbu/hldig/blob/master/TESTING.md), so I'll mark it low-priority for now.

[code]

[2018-09-03 21:59] andy5995 opened #120 "configure has similar options for bigfile, and neither is the default"
When I made this change:

https://github.com/solbu/hldig/blob/ff72b3c7b8608d293a74da4fc414d0b3450483d8/configure.ac#L366

in https://github.com/solbu/hldig/commit/7e86c6ef05ca12826d7f8c9f1c1da8b9d75e3708

I didn't expect to wind up with 2 similar options for `configure`

[code]

I think there is some "leftover" code that can be removed.
https://github.com/solbu/hldig/blob/ff72b3c7b8608d293a74da4fc

[2018-09-04 06:27] andy5995 opened #122 "hldig can't crawl https URLS anymore"
hldig can't crawl https URLs.

On the dreamhosters server, I got a segfault when I ran rundig. Last time I used it there, which was a few months ago, it worked.

Which means that the demo won't work, because that's where hldig is running from.

On my system, it didn't segfault, but it didn't crawl correctly.

[code]

[2018-09-04 22:51] solbu commented on #122
And it only showed up now?

[2018-09-04 22:52] solbu commented on #122
Besides, it is using v0.2.0. Maybe you should try the master branch on the server?

[2018-09-05 17:42] andy5995 commented on #122
The problem originated in https://github.com/solbu/hldig/commit/49740ad

Unfortunately, I'm not sure what I skipped while testing that patch. But I must have forgotten something because it worked for me at the time.

And also when I tested 888007d the test failed, which was incorrect.

Anyway, hopefully #123 will fix this.

The demo site can work indefinitely, as long as the database was created w

[2018-09-05 21:17] #122 closed

[2018-09-05 21:56] #104 closed

[2018-09-07 12:54] solbu commented on #69
And it's done. :-)

[2018-09-07 12:54] #69 closed

[2018-09-07 17:53] andy5995 opened #127 "packaging hldig for Slackware"
Pretty easy to get a package submitted to http://slackbuilds.org/

It's not the official Slack repo, but it's a secondary repo for Slackware packages.

The submission doesn't include any source code or binaries, just a few files that have the info on where to download the hldig distribution from.

htdig is already included with the official Slack distribution, so there is a htdlg.Slackbuild that c

[2018-09-07 18:21] andy5995 commented on #127
Oh, and it's absolutely best to test it before submitting, which I can do for anyone who wants to work on this but doesn't have access to a Slackware installation.

[2018-09-08 03:48] andy5995 opened #128 "placement of docs/RELEASE.html"
I forgot about this file. Not sure it's needed anymore. It all applies to htdig, and we already link to them for reference purposes. I'm not sure if the web site links to it. If so, not from the home page.

[2018-09-08 15:52] andy5995 commented on #109
conf_lexer.cxx and conf_parser.cxx needs to be removed from version control, they are auto-generated when make is run.

Makefile.am needs to be changed so those 2 files will be removed when `make clean` is run.

The bigger problem remaining is that when those two are removed, I can't build either. Therefore, we'll need to figure out how to update conf_parser.hxx and conf_lexer.lxx to get a complet

[2018-09-08 20:03] andy5995 commented on #109
So the cxx files are supposed to be included with the distribution. When they get regenerated after running `make dist` or removing them, the build fails.

I believe it's because the use of YYPARSE_PARAM in conf_parser.yxx. It's obsolete

https://stackoverflow.com/questions/5676619/bison-additional-parameter-to-a-push-and-pure-parser

http://www.delorie.com/gnu/docs/bison/bison_106.html

And the m

[2018-09-11 20:32] solbu commented on #109
It seems the patch from NevemTeve is working. Now I get a new error.

[2018-09-26 22:43] andy5995 commented on #109
Note [comment 6](https://www.linuxquestions.org/questions/programming-9/converting-yyparse_param-to-parse-param-4175638020/#post5908085)

[2018-09-27 07:13] #109 closed

[2018-09-27 07:18] solbu commented on #91
I believe this is fixed somewhere along the way, and issue #109 fixed the remaning bit.

[2018-09-27 07:18] #91 closed

[2018-10-04 23:34] shrey183 commented on #118
Hi, I would love to work on this issue, but I am not sure I understand your requirement. Could you give an example?

[2018-10-05 19:50] solbu commented on #118
If you look on line 169 you find a string that is not makred for translation, but on line 175 and 176, some 6 lines below that, you'll see an example of strings that are marked for translation.

For example, in the line 169 you find this code:
cout << "hlfuzzy: words: " << count << '\n';
The quoted string need to be enclosed in _().

Here is an example.
I'll have the original just below so you see

[2018-10-05 21:44] shrey183 commented on #118
Hi, thanks for your comment, I created a Pull Request and I see this after making the pull request:
![image](https://user-images.githubusercontent.com/28196797/46561555-7ed2f800-c8f8-11e8-8048-587781988b5c.png)

Have I done something wrong? I am kind of new to this, so any comments from you all would be really helpful.

[2018-10-05 22:02] solbu commented on #118
This is exactly how it's done. :-)

[2018-10-06 08:35] mexchip commented on #34
Hi, I can work on this issue. I'm thinking about two alternatives:
1.  Disable the warnings by adding the command line option `-Wno-write-strings` to compilation. This is fast/easy, but not sure if you'd consider it as a "correct" fix.
2. Edit code and replace `char*` with `const char*`, I already made some tests and fixing it for HTML.cc won't be hard, but it could be for other files.

[2018-10-06 08:42] solbu commented on #34
You are correct. Number 1 is just hiding it for the user who happens to compile it with that option.
If you want to work on option 2 then go right ahead. :-)

[2018-10-07 02:38] andy5995 commented on #50
Yes, I believe so.

[2018-10-07 02:38] #50 closed

[2018-10-07 10:12] solbu commented on #38
This seems to be incorrect.
I just did a test and i get the same warning. However if i do ls on the directory it complains about, «libfuzzy.la» is indeed installed into the directory it claims it is not installed in.

[2018-10-07 10:17] solbu commented on #38
libtool: warning: 'libfuzzy.la' has not been installed in '/home/solbu/tmp/hldig-test/lib/hldig'

$ ls -lh /home/solbu/tmp/hldig-test/lib/hldig |grep fuzzy.la
-rwxr-xr-x 1 solbu solbu  987 okt.   7 12:08 libfuzzy.la

[2018-10-08 07:42] mexchip commented on #34
I changed most `char *` to `const char *` and made a pull request (#134), it fixes most write string warnings.
The warnings left can be avoided by casting to `char *` (or maybe making deeper changes in the code), I already created a branch (https://github.com/mexchip/hldig/tree/FixRemainingWriteStringWarnWithCast) from the one I made the pull request and added the casts. If you agree with using th

[2018-10-08 09:08] solbu commented on #34
Looks fine to me.
I also fetched the next commit as patch and tested it. It does indeed fix the issues.

Go ahead and create the PR, and I'll merge it.

[2018-10-08 09:09] #34 closed

[2018-10-15 19:47] solbu commented on #40
This is fixed with PR #135 and #134

[2018-10-15 19:47] #40 closed

[2018-10-16 13:39] solbu commented on #119
Be our guest. :-)

[2018-10-23 16:48] arjangupta commented on #17
Hello! May I work on this issue?

[2018-10-23 16:53] solbu commented on #17
Sure, go ahead. :-)

[2018-10-28 22:45] solbu opened #142 "conf_parser.cxx:1372:37: error: assignment of read-only location (the code error is actually in conf_parser.yxx)"
We have a new compiler error, in the same conf_parser.cxx file.
I have figured out where the last error is that generated «conversion from string constant to ‘char» errors. It is in conf_parser.yxx.

conf_parser.yxx have one last error that seems to happen each time we bump version. For some reason that triggers a rebuild of the cxx file.

conf_parser.cxx: In function ‘int yyparse(HtConfiguration*

[2020-02-03 22:07] selkfoster opened #144 "Question/request: hldig as htdig?"
Hello @solbu,

In the Trinity project[1] we wonder[2] if it is possible for hldig to be renamed to htdig?  Perhaps you have contact with the original author and it is possible to continue as htdig, this would help avoid renaming or adding things to look for "hldig".  Incidentally, it would mean that projects that already include htdig would continue in new and improved versions.

Thanks for your w

[2020-02-04 04:24] solbu commented on #144
Andy Alt, the one who actually forked and launched hldig had some issues he wanted fixed, and asked the ht://Dig developers that if he would send ay patches, would they include it and do a release. They answered that he was better off forking it, as they had no more interest in the project.

So no, it will not be renamed, as we did quite a job remnaming from htdig to hldig. :-)

[2020-02-04 04:24] #144 closed

[2020-02-04 04:36] solbu commented on #144
It seems one of the developers also have a Github repo of the htdig master branch.
[Here is the thread](/roklein/htdig/issues/1) where Andy communicated with one of the hldig developers, which resulted in Andy forking it, and eventually renaming it to hldig later on.

[2020-12-07 14:29] jp31415926 commented on #11
Probably would be good to create a DB layer that allows swapping out built-in DB functions for external library so that use can decide. Short term I would go with what you have.

[2020-12-07 15:05] jp31415926 opened #145 "Build error on Ubuntu 18.04.5 LTS"
I get an error while building. I suspect I need to install a library. It would be good if configure or the error pointed users to the library that is missing.

Specifically, line 196 of the Makefile has the statement:
`echo "$${cdcmd}rm -f $${lang}.gmo && $(GMSGFMT) -c --statistics --verbose -o $${lang}.gmo $${lang}.po"; \`
`        cd $(srcdir) && rm -f $${lang}.gmo && $(GMSGFMT) -c --statistics

[2020-12-07 15:08] jp31415926 commented on #145
Turns out I had to install the "gettext" package, re-ran configure, and now it works. Perhaps this should be a dependency for configure.

[2022-01-11 02:02] selkfoster opened #146 "Build error under GCC 11 ("
Hi friends,

There is a build error trying to compile hldig-20210616_9427c9cd (the current one) with GCC 11 (snapshot 11-20220101).

The full log at: http://sprunge.us/dBqom9

[2022-04-19 10:58] selkfoster commented on #146
Hi again,

Passing -std=c++14 to the CXXFLAGS solves the build issue against GCC 11...